*{
    width: auto;
    padding: 0;
    margin: 0;
}

header{
    display: flex;
    justify-content: center;
    background-color:teal;
}

.containerfirts{
    color: purple;
}

.containerfirts img{
    width: 12rem;
}

.containersecond{
    width: 15rem;
    color: white;
}

.containersecond h2{
    color: purple;
}

.container1-main{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.container1-main h2{
    color: purple;
}

.container-project div{
    background-color: teal;
    width: 20rem;
    height: 10rem;
    margin: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

footer{
    background-color: teal;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;

}
.boxicons-footer{
    font-size: 2rem;
    text-decoration: none;
}

@media (min-width:820px){

    .container-project div{
        padding: 3rem;
    }

}